.banner{
    margin-bottom: 60px;
}
.inner{
    display: flex;
}
.kind{
    width: 33%;
    text-align: center;
    white-space: nowrap;
    font-size: 24px;
    font-weight: bolder;
}
.title{
    background: #3F5D45;
    color: #EAF0ED;
    padding-top: 16px;
    padding-bottom: 16px;
}
.type a,.all_dessert a{
    border: #EAF0ED 1px solid;
    color: #3F5D45;
    text-decoration: none;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 64px;
    padding-right: 64px;
}
.type a:hover{
    color: gold;
}
.all_dessert a{
    border: #EAF0ED 1px solid;
    color: #3F5D45;
    background-color: #EAF0ED;
}
.all_dessert a:hover{
    color: gold;
}
.content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-around;
    text-align: center;
}
.pic1{
    position: relative;
    margin-bottom: 20px;
    width: 50%;
}
.pic2{
    position: relative;
    margin-bottom: 20px;
    width: 50%;
}
.pic3{
    position: relative;
    margin-bottom: 20px;
    width: 50%;
}
.pic4{
    position: relative;
    margin-bottom: 20px;
    width: 50%;
}
.pic5{
    position: relative;
    margin-bottom: 20px;
    width: 50%;
}
.pic6{
    position: relative;
    margin-bottom: 20px;
    width: 50%;
}
.photo{
    width: 100%;
}
.pick{
    writing-mode: vertical-lr;
    position: absolute;
    color: #EAF0ED;
    background: #3F5D45;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 10px;
    padding: 10px;
    left: 20px;
    top: 0px;
}
.heart{
    display: block;
	position: absolute;
    top: 22px;
    right: 22px;
    padding: 5px;
}
.dollar{
    display: flex;
    color: #3F5D45;
    font-size: 20px;
    font-weight: bolder;
    border-left: #EAF0ED solid 1px;
    border-right: #EAF0ED solid 1px;
    border-bottom: #EAF0ED solid 1px;
    align-items: center;
}
.dollar h3{
    text-align: center;
    padding: 14px 8px;
    margin-left: 8px;
}
.dollar span{
    display: block;
    text-align: center;
    font-weight: bolder;
    padding: 14px 7px;
    border-left: #EAF0ED solid 1px;
}
.buy{
    display: block;
    color: #3F5D45;
    font-weight: bolder;
    background: #EAF0ED;
    text-align: center;
    padding-top: 16px;
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
}
.pic1 a:hover{
    color: gold;
}
.pic2 a:hover{
    color: gold;
}
.pic3 a:hover{
    color: gold;
}
.pic4 a:hover{
    color: gold;
}
.pic5 a:hover{
    color: gold;
}
.pic6 a:hover{
    color: gold;
}
.page{
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 60px;
}
.page_number{
    border: 1px solid #EAF0ED;
    text-align: center;
}
.page_number a{
    padding: 19.5px;
    display: block;
    color: #3F5D45;
    font-size:20px;
    text-decoration: none;
}
.page_number a:hover{
    color: gold;
}
.arrow a{
    padding: 17px;
}


@media(max-width:767px){
    .kind{
        width: 100%;
        margin-bottom: 30px;
    }
    .inner{
        flex-wrap: wrap;
    }
    .container{
        width: 100%;
        justify-content: space-around;
    }
    .pic1{
        width: 100%;
    }
    .pic2{
        width: 100%;
    }
    .pic3{
        width: 100%;
    }
    .pic4{
        width: 100%;
    }
    .pic5{
        width: 100%;
    }
    .pic6{
        width: 100%;
    }
    .page{
        justify-content: center;
    }
}
@media(max-width:375px){
    .kind{
        width: 100%;
        margin-bottom: 30px;
    }
    .content{
        width: 100%;
        justify-content: center;
    }
    .pic1{
        width: 100%;
    }
    .pic2{
        width: 100%;
    }
    .pic3{
        width: 100%;
    }
    .pic4{
        width: 100%;
    }
    .pic5{
        width: 100%;
    }
    .pic6{
        width: 100%;
    }
    .page{
        justify-content: center;
    }
}